# Archivos de entorno
.env
.env.* 

# Node
node_modules/
dist/
build/

# Logs
*.log

# Mac y sistema
.DS_Store
Thumbs.db

# Vite
.vite/

# Configuraciones del sistema o editor
.idea/
.vscode/

# Producción
/public/uploads/
